{% extends 'base.html' %}

{% block content %}
<h2>{{ item.title }}</h2>
<p>{{ item.description }}</p>
<p>Location: {{ item.location }}</p>
<p>Category: {{ item.get_category_display }}</p>
<p>Posted by: {{ item.posted_by.username }}</p>
{% if item.posted_by.profile %}
    {% if item.posted_by.profile.contact_number %}
        <p>Contact Number: {{ item.posted_by.profile.contact_number }}</p>
    {% endif %}
{% endif %}
{% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.title }}" style="max-width: 100px;">
{% endif %}
{% endblock %}